:root {
  --white: hsl(0, 0%, 100%);
  /* Light Mode */
  --light-gray: hsl(0, 0%, 98%);
  --dark-gray: hsl(0, 0%, 52%);
  --dark-blue-light-mode: hsl(200, 15%, 8%);
  /* Dark Mode */
  --dark-blue-dark-mode: hsl(209, 23%, 22%);
  --massive-dark-blue-dark-mode: hsl(207, 26%, 17%);

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--light-gray);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

.header {
  padding: 30px 0;
  background-color: var(--white);
  color: var(--dark-blue-light-mode);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.05);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.main {
  padding: 50px 0;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-wrapper {
  height: 56px;
  width: 480px;
  background: var(--white);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.05);
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.search-wrapper .search-input {
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  margin-left: 25px;
  position: relative;
}

.search-wrapper .search-input,
.search-input::placeholder { 
  color: var(--dark-gray);
  font-size: .95rem;
}

.icon-search {
  background-image: url("./assets/images/search_icon.svg");
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
}

.select-wrapper {
  height: 56px;
  width: 200px;
}

.choose-select  {
  height: 100%;
  width: 100%;
  border: none;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.05);
  padding: 0 25px 0 20px;
  font-size: .95rem;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0 0 0;
}

.card-img {
  height: 160px;
}

.card-img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.card-body {
  padding: 30px 25px;
  background-color: var(--white);
}

.card-country {
  width: 265px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 75px;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  color: var(--dark-blue-light-mode);
  margin-bottom: 25px;
}

.card-info {
  font-size: .8rem;
  color: var(--dark-gray);
}

.card-label {
  font-weight: bold;
  color: var(--dark-blue-light-mode);
}

.card-info-row {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}